mcfiles= 
mcIndex=0 1
mcout=/afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCMu/mcmu0.0005.root /afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCPi/mcpi0.0005.root 
mccolors=330 440 550 630 740 850
#mccolors=330 330 330 330 330 330
brs=3.353E-2 2.066E-1
#brs=2.066E-1 2.066E-1 2.066E-1 2.066E-1 2.066E-1 2.066E-1
mclegends=K^{+}->#pi^{0}_{d}#mu^{+}#nu K^{+}->#pi^{+}#pi^{0}_{d}
#mclegends=K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d}

datafiles= 
dataout=/afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/Data/data0.0005.root
datacolors=360
datalegends=Data

binsfile=/afs/cern.ch/user/n/nlurkin/work/bins/bins0.0005.dat
#equalbin=true

modelfiles=/afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCMu/mcmu0.0005.root /afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCPi/mcpi0.0005.root