mcfiles= /afs/cern.ch/user/n/nlurkin/work/L2_L3/beam_hole/mu.root /afs/cern.ch/user/n/nlurkin/work/L2_L3/beam_hole/pi.root 
mcIndex=0 1
mcout=mu.root pi.root
mccolors=330 440 550 630 740 850
#mccolors=330 330 330 330 330 330
brs=3.353E-2 2.066E-1
#brs=2.066E-1 2.066E-1 2.066E-1 2.066E-1 2.066E-1 2.066E-1
mclegends=K^{+}->\pi^{0}_{d}\mu^{+}\nu K^{+}->\pi^{+}\pi^{0}_{d}
#mclegends=K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d} K^{+}->#pi^{+}#pi^{0}_{d}

datafiles= /afs/cern.ch/user/n/nlurkin/work/L2_L3/beam_hole/data.root
dataIndex=0
dataout=data.root
datacolors=360
datalegends=Data
datafactor=1

binsfile=/afs/cern.ch/user/n/nlurkin/work/bins/bins_x0.1.dat
equalbin=true

#modelfiles=/afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCMu/mcmu0.0005.root /afs/cern.ch/user/n/nlurkin/work/Fit/ptScans/MCPi/mcpi0.0005.root
#scanid=0 	
